# Xcode / Swift
## Build generated
build/
DerivedData/
*.xcworkspace/xcuserdata/

## User settings
xcuserdata/
*.xcuserstate
*.xcscmblueprint

## Swift Package Manager
.build/
.swiftpm/

## macOS
.DS_Store

## Misc
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Cloudflare Worker
worker/node_modules/
worker/.wrangler/
worker/dist/
